[submodule "ifarchive-static"]
	path = ifarchive-static
	url = https://github.com/iftechfoundation/ifarchive-static
[submodule "ifarchive-ifmap-py"]
	path = ifarchive-ifmap-py
	url = https://github.com/iftechfoundation/ifarchive-ifmap-py
[submodule "ifarchive-upload-py"]
	path = ifarchive-upload-py
	url = https://github.com/iftechfoundation/ifarchive-upload-py
[submodule "ifarchive-admintool"]
	path = ifarchive-admintool
	url = https://github.com/iftechfoundation/ifarchive-admintool
