[DEFAULT]

# Path to Master-Index.xml.
MasterIndexXML = /var/ifarchive/htdocs/indexes/Master-Index.xml

# SQLite database for admin tasks.
DBFile = /var/ifarchive/lib/sql/admin.db

# Max total size of files in the incoming directory
MaxIncomingDirSize = 10000

# This is a secret shared with IFDB
IFDBCommitKey = XXXX


[Search]

# URI (on the web domain) where the search script runs.
AppRoot = /search

# Max results to display on a page.
ResultsPerPage = 10

# Maximum time (in seconds) to spend on a query.
QueryTimeout = 0.5

# Search index directory. This should be readable (not writable) by
# www-data.
SearchIndexDir = /var/ifarchive/lib/searchindex

# Jinja template dir.
TemplateDir = /var/ifarchive/lib/searchtpl

# Log file.
LogFile = /var/ifarchive/logs/search.log
