[DEFAULT]

# Domain to refer results to (in /indexes). No closing slash.
# Omit this key if search is on the same domain as the results.
# ArchiveDomain = 

# Path to Master-Index.xml.
MasterIndexXML = /var/ifarchive/htdocs/indexes/Master-Index.xml

# The directories of interest.
IncomingDir = /var/ifarchive/incoming
TrashDir    = /var/ifarchive/trash
ArchiveDir  = /var/ifarchive/htdocs/if-archive

# SQLite database for admin tasks.
DBFile = /var/ifarchive/lib/sql/admin.db

# Max total size of files in the incoming directory
# Currently: one gigabyte
MaxIncomingDirSize = 1073741824

# This is a secret shared with IFDB
IFDBCommitKey = XXXX

# If true, the admin page can only be logged into via https, not http.
# This is a safeguard against cookie-snooping attacks.
# It also means that we run BuildScriptFile with "sudo", which is
# overloaded, I know, sorry
SecureSite = false


[Upload]

# Email address to receive reports of uploaded files.
# Omit this key to skip emailing.
# ReportEmail = AAAA@ifarchive.org


[AdminTool]

# URI (on the web domain) where the admin script runs.
AppRoot = /admin
# URI (on the web domain) where the admin page's CSS file lives.
AppCSSURI = /misc/admintool.css

# Jinja template dir.
TemplateDir = /var/ifarchive/lib/admintool

# Log file.
LogFile = /var/ifarchive/logs/admintool.log

# Path for build-indexes script. This must take zero time; that is, it must
# background the real work.
BuildScriptFile = /var/ifarchive/bin/build-indexes-bg

# Path for build-indexes lock file.
BuildLockFile = /var/ifarchive/htdocs/build.lock

# Path for the build-indexes output file.
BuildOutputFile = /var/ifarchive/htdocs/build.out

# Path for uncache script. This must take zero time; that is, it must
# background the real work.
UncacheScriptFile = /var/ifarchive/bin/uncache-bg

# Duration of a log-in session, unless extended.
# Currently: ten days (in seconds)
MaxSessionAge = 864000

# Age at which to delete files in /trash.
# Currently: thirty days (in seconds). Note that Index-* files are deleted
# in a quarter of this time.
MaxTrashAge = 2592000


[Search]

# URI (on the web domain) where the search script runs.
AppRoot = /search

# Max results to display on a page.
ResultsPerPage = 10

# Maximum time (in seconds) to spend on a query.
QueryTimeout = 0.5

# Search index directory. This should be readable (not writable) by
# www-data.
SearchIndexDir = /var/ifarchive/lib/searchindex

# Jinja template dir.
TemplateDir = /var/ifarchive/lib/searchtpl

# Log file.
LogFile = /var/ifarchive/logs/search.log
